html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	padding-top: 5px;
	height: 60px;
}

.license-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

table { 
	font-size: 12px;
}

.thumb{
	max-width: 150px;
	max-height: 150px;
	box-shadow: 0px 0px 5px 0 #000;
}

.table td {
  vertical-align: middle;
}

.row {
	margin-right: 0px;
}

.row > div.col-sm-12 {
	overflow-x: scroll;
	padding-right: 0px;
}

#downloadUrl {
	width: 100%;
}

#download-btn-container {
	border-top: 1px dashed #aaa;
	border-bottom: 1px dashed #aaa;
}

#download-btn-container,
#url-list-container {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#download {
	width: 200px;
}

#copy-btn {
	width: 200px;
}
#download-instruction-block {
	display: none;
	width: 100%;
	padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border-radius: 3px;
    border: 1px solid #eee;
    background-color: #f8f8f8;
}