html, body {
  line-height: 1; /* same as bootstrap.css */
}

#file-input {
	border-bottom: 1px dashed #aaa;
}

#confirm-input {
	border-top: 1px dashed #aaa;
	border-bottom: 1px dashed #aaa;
}

#upload-instruction-block {
	width: 100%;
	padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border-radius: 3px;
    border: 1px solid #eee;
    background-color: #f8f8f8;
}