<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="author" content="HistoQc"/>
	<meta name="description" content="HistoQc"/>
	<title>HistoQC - About</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" type="text/css" href="../static/libs/css/bootstrap.min.css"/>
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="../static/css/about.css"/>
</head>

<body>
	<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom">
		<h5 id="page-title" class="my-0 mr-md-3 font-weight-normal"><a href="/"><strong>HistoQc</strong></a></h5>
		<nav class="my-2 my-md-0 ml-md-3">
			<a class="p-2 text-dark ml-md-3" href="/upload"> Upload </a>
			<a class="p-2 text-dark ml-md-3" href="/gallery"> Gallery </a>
			<a class="p-2 text-dark ml-md-3" href="/about"> About </a>
		</nav>
	</header>

	<div class="container pt-md-5">
		<h5>About Us</h5>
	</div>
</body>