<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="author" content="QCSlideRepository"/>
	<meta name="description" content="QCSlideRepository"/>
	<title>QCSlideRepository - Gallery</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" type="text/css" href="../static/libs/css/bootstrap.min.css"/>
	<!-- DataTables CSS -->
	<link rel="stylesheet" type="text/css" href="../static/libs/css/datatables.min.css"/>
	<link rel="stylesheet" type="text/css" href="../static/libs/css/dataTables.bootstrap4.min.css"/>
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="../static/css/gallery.css"/>

	<script type="text/javascript" charset="utf8" src="../static/libs/jquery.min.js"></script>
	<script type="text/javascript" charset="utf8" src="../static/libs/datatables.min.js"></script>
	<script type="text/javascript" charset="utf8" src="../static/libs/dataTables.bootstrap4.min.js"></script>
</head>

<body>
	<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom">
		<h5 id="page-title" class="my-0 mr-md-3 font-weight-normal"><a href="/"><strong>QCSlideRepository</strong></a></h5>
		<nav class="my-2 my-md-0 ml-md-3">
			<a class="p-2 text-dark ml-md-3" href="/gallery"> Gallery </a>
			<a class="p-2 text-dark ml-md-3" href="/upload"> Upload </a>
			<a class="p-2 text-dark ml-md-3" href="/about"> About </a>
		</nav>
	</header>

	<div class="container-fluid mt-5">
		<div>
			<table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th style=" width:1px; padding:0"></th>
						<th style="width:30px; padding:10px 0 10px 10px">
							<input type="checkbox" id="checkAll">
						</th>
						<th>Thumbnail</th>
						<th>Filename</th>
						<th>Upload</th>
						<th>Contact</th>
						<th>Tissue</th>
						<th>Creation</th>
						<th>Base_Mag.</th>
						<th>Artifact</th>
						<th>Stain</th>
						<th>Comments</th>
						<th>Size(px)</th>
						<th>Size(gb)</th>
						<th>File_Type</th>
						<th>Scanner</th>
						<th>Preparation</th>
						<th>Specimen</th>
					</tr>
				</thead>
				<tbody>
					{% for file in files %}
						<tr id="{{'tr' + loop.index|string}}">
							<td></td>
							<td><input type="checkbox" name="checkList" id={{'check'+loop.index|string}}></td>
							{% for item in file %}
								{% if  loop.index == 1 %}
									<td><img src="{{thumb_path + item}}" class="thumb"></td>
								{% elif  loop.index == 2 %}
									<td class="url"><a href="/download/{{item}}">{{item}} </a> </td>
								{% else %}
									<td>{{item}} </td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="mt-3 pt-3 mb-3 pb-3 ml-md-3 mr-md-3" id="download-btn-container">
			<button id="download" class="btn btn-primary" onclick="download">Get Download Links</button>
		</div>
		<div class="container-fluid mt-3" id="url-list-container">
			<div id="download-instruction-block" class="mb-3">
				<p>
					Due to the large nature of the files, we provide the links below so that you may download them with more sophisticated tools which allow resuming, such as wget.
				</p>
				<p>
					To use wget:
				</p>
				<div id="wget-code-block">
					<p><code>
						wget -c -i FILENAME_LIST
					</code></p>
				</div>
			</div>
			<textarea readonly rows="2" width="100%" id="downloadUrl"></textarea>
			<div class="mt-3 mb-3">
				<input type="button" id="copy-btn" class="btn btn-primary" value="Copy to Clipboard" onclick="copyinput()"/>
			</div>
		</div>
	</div>

	<script type="text/javascript" charset="utf8" src="../static/scripts/gallery.js"></script>
</body>
</html>