<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="author" content="QCSlideRepository"/>
	<meta name="description" content="QCSlideRepository"/>
	<title>QCSlideRepository - Upload</title>


	<!-- Generic page styles -->
	<link rel="stylesheet" href="../static/css/style.css">

	<!-- blueimp Gallery styles -->
	<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">

	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link rel="stylesheet" href="../static/css/jquery.fileupload.css">
	<link rel="stylesheet" href="../static/css/jquery.fileupload-ui.css">

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" type="text/css" href="../static/libs/css/bootstrap.min.css"/>
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="../static/css/upload.css"/>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
	<script src="static/js/vendor/jquery.ui.widget.js"></script>
	<!-- The Templates plugin is included to render the upload/download listings -->
	<script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
	<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
	<script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
	<!-- The Canvas to Blob plugin is included for image resizing functionality -->
	<script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
	<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<!-- blueimp Gallery script -->
	<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
	<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
	<script src="static/js/jquery.iframe-transport.js"></script>
	<!-- The basic File Upload plugin -->
	<script src="static/js/jquery.fileupload.js"></script>
	<!-- The File Upload processing plugin -->
	<script src="static/js/jquery.fileupload-process.js"></script>
	<!-- The File Upload image preview & resize plugin -->
	<script src="static/js/jquery.fileupload-image.js"></script>
	<!-- The File Upload audio preview plugin -->
	<script src="static/js/jquery.fileupload-audio.js"></script>
	<!-- The File Upload video preview plugin -->
	<script src="static/js/jquery.fileupload-video.js"></script>
	<!-- The File Upload validation plugin -->
	<script src="static/js/jquery.fileupload-validate.js"></script>
	<!-- The File Upload user interface plugin -->
	<script src="static/js/jquery.fileupload-ui.js"></script>
	<!-- The main application script -->
	<script src="static/js/main.js"></script>
	<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
	<script src="../static/scripts/upload.js"></script>
</head>

<body>
	<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom">
		<h5 id="page-title" class="my-0 mr-md-3 font-weight-normal"><a href="/"><strong>QCSlideRepository</strong></a></h5>
		<nav class="my-2 my-md-0 ml-md-3">
			<a class="p-2 text-dark ml-md-3" href="/gallery"> Gallery </a>
			<a class="p-2 text-dark ml-md-3" href="/upload"> Upload </a>
			<a class="p-2 text-dark ml-md-3" href="/about"> About </a>
		</nav>
	</header>

	<div class="container mt-5">

	    <form id="fileupload" action="//jquery-file-upload.appspot.com/" onsubmit="return valid(this)" method="POST" enctype="multipart/form-data">
<!-- 			<div class="input-group mb-4 pb-4 mt-5" id="file-input">
				<div class="custom-file">
					<input type="file" name="file" multiple="multiple" class="custom-file-input" id="inputGroupFile01">
					<label class="custom-file-label" for="inputGroupFile01">Choose file(s)</label>
				</div>
			</div>
 -->
	        <!-- Redirect browsers with JavaScript disabled to the origin page -->
	        <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>
	        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
	        <div class="row fileupload-buttonbar">
	            <div class="col-lg-7">
	                <!-- The fileinput-button span is used to style the file input field as button -->
	                <span class="btn btn-success fileinput-button">
	                    <span>Add files...</span>
	                    <input type="file" name="file" multiple>
	                </span>
	                <button type="submit" class="btn btn-primary start">
	                    <span>Start upload</span>
	                </button>
	                <button type="reset" class="btn btn-warning cancel">
	                    <span>Cancel upload</span>
	                </button>
	                <button type="button" class="btn btn-danger delete">
	                    <span>Delete</span>
	                </button>
	                <input type="checkbox" class="toggle">
	                <!-- The global file processing state -->
	                <span class="fileupload-process"></span>
	            </div>
	            <!-- The global progress state -->
	            <div class="col-lg-5 fileupload-progress fade">
	                <!-- The global progress bar -->
	                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
	                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
	                </div>
	                <!-- The extended global progress state -->
	                <div class="progress-extended">&nbsp;</div>
	            </div>
	        </div>
	        <!-- The table listing the files available for upload/download -->
	        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>


			<div class="form-group row">
				<label for="inputTissueType" class="col-sm-2 col-form-label">Tissue Type</label>
				<div class="col-sm-10">
					<input type="text" name="Tissue" class="form-control" id="inputTissueType" placeholder="Please type in the tissue type">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputArtifacts" class="col-sm-2 col-form-label">Artifacts Type</label>
				<div class="col-sm-10">
					<input type="text" name="Artifacts" class="form-control" id="inputArtifacts" placeholder="Please type in the artifacts type">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputStain" class="col-sm-2 col-form-label">Stain Type</label>
				<div class="col-sm-10">
					<input type="text" name="Stain" class="form-control" id="inputStain" placeholder="Please type in the stain type">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputTissueType" class="col-sm-2 col-form-label">Preparation type</label>
				<div class="col-sm-10">
					<select id="inputState" class="form-control" name="Preparation">
						<option selected>Choose...</option>
						<option>frozen</option>
						<option>ffpe</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="inputTissueType" class="col-sm-2 col-form-label">Specimen type</label>
				<div class="col-sm-10">
					<select id="inputState" class="form-control" name="Specimen">
						<option selected>Choose...</option>
						<option>resection</option>
						<option>biopsy</option>
						<option>TMA</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="inputMagnification" class="col-sm-2 col-form-label">Base Magnification</label>
				<div class="col-sm-10">
					<input type="text" name="magnification" class="form-control" id="inputMagnification" placeholder="Please type in the base magnification of the slide(s)">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputScanner" class="col-sm-2 col-form-label">Scanner</label>
				<div class="col-sm-10">
					<input type="text" name="Scanner" class="form-control" id="inputScanner" placeholder="Please type in the type of scanner">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputComments" class="col-sm-2 col-form-label">Comments</label>
				<div class="col-sm-10">
					<input type="text" name="Comments" class="form-control" id="inputComments" placeholder="Please type in your comments">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputSlideCreationDate" class="col-sm-2 col-form-label">Slide Creation Date</label>
				<div class="col-sm-10">
					<input type="text" name="date" class="form-control" id="inputSlideCreationDate" placeholder="Please type in the date of creation of the uploaded slide (MM/DD/YYYY)">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputEmail" class="col-sm-2 col-form-label">Contact Info</label>
				<div class="col-sm-10">
					<input type="text" name="Email" class="form-control" id="inputEmail" placeholder="Your contact information (email)">
				</div>
			</div>
			<div id="confirm-input" class="form-group mt-4 pt-4">
				<div class="form-check">
					<input class="form-check-input" name="confirm" type="checkbox" onclick="agree();" id="confirm">
					<label class="form-check-label" for="confirm">
						Please confirm that the slide has been properly anonymized.
					</label>
				</div>
			</div>
			<input type="submit" value="Upload" disabled="disabled" id="submit" class="btn btn-primary btn-block">
		</form>
	</div>

	{% raw %}
	<!-- The template to display files available for upload -->
	<script id="template-upload" type="text/x-tmpl">
	{% for (var i=0, file; file=o.files[i]; i++) { %}
	    <tr class="template-upload fade">
	        <td>
	            <span class="preview"></span>
	        </td>
	        <td>
	            <p class="name">{%=file.name%}</p>
	            <strong class="error text-danger"></strong>
	        </td>
	        <td>
	            <p class="size">Processing...</p>
	            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
	        </td>
	        <td>
	            {% if (!i && !o.options.autoUpload) { %}
	                <button class="btn btn-primary start" disabled>
	                    <i class="glyphicon glyphicon-upload"></i>
	                    <span>Start</span>
	                </button>
	            {% } %}
	            {% if (!i) { %}
	                <button class="btn btn-warning cancel">
	                    <i class="glyphicon glyphicon-ban-circle"></i>
	                    <span>Cancel</span>
	                </button>
	            {% } %}
	        </td>
	    </tr>
	{% } %}
	</script>
	<!-- The template to display files available for download -->
	<script id="template-download" type="text/x-tmpl">
	{% for (var i=0, file; file=o.files[i]; i++) { %}
	    <tr class="template-download fade">
	        <td>
	            <span class="preview">
	                {% if (file.thumbnailUrl) { %}
	                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
	                {% } %}
	            </span>
	        </td>
	        <td>
	            <p class="name">
	                {% if (file.url) { %}
	                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
	                {% } else { %}
	                    <span>{%=file.name%}</span>
	                {% } %}
	            </p>
	            {% if (file.error) { %}
	                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
	            {% } %}
	        </td>
	        <td>
	            <span class="size">{%=o.formatFileSize(file.size)%}</span>
	        </td>
	        <td>
	            {% if (file.deleteUrl) { %}
	                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
	                    <i class="glyphicon glyphicon-trash"></i>
	                    <span>Delete</span>
	                </button>
	                <input type="checkbox" name="delete" value="1" class="toggle">
	            {% } else { %}
	                <button class="btn btn-warning cancel">
	                    <i class="glyphicon glyphicon-ban-circle"></i>
	                    <span>Cancel</span>
	                </button>
	            {% } %}
	        </td>
	    </tr>
	{% } %}
	</script>
	{% endraw %}

</body>
</html>